---
import ConditionalRendering from "@components/ConditionalRendering";
import CurlyBraces from "@components/CurlyBraces";
import Events from "@components/Events";
import FirstComponent from "@components/FirstComponent";
import { ImportExport } from "@components/ImportExport";
import MarkupWithJSX from "@components/MarkupWithJSX";
import Props from "@components/Props";
import PureComponents from "@components/PureComponents";
import QueueStateUpdates from "@components/QueueStateUpdates";
import RenderAndCommit from "@components/RenderAndCommit";
import RenderingLists from "@components/RenderingLists";
import State from "@components/State";
import StateAsASnapshot from "@components/StateAsASnapshot";
import UiAsATree from "@components/UiAsATree";
import UpdatingArraysInState from "@components/UpdatingArraysInState";
import UpdatingObjectsInState from "@components/UpdatingObjectsInState";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<>
      <FirstComponent/>
      <hr>
		  <ImportExport/>
      <hr>
      <MarkupWithJSX/>
      <hr>
      <CurlyBraces/>
      <hr>
      <Props/>
      <hr>
      <ConditionalRendering/>
      <hr>
      <RenderingLists/>
      <hr>
      <PureComponents/>
      <hr>
      <UiAsATree/>
      <hr>
      <Events/>
      <hr>
      <State/>
      <hr>
      <RenderAndCommit/>
      <hr>
      <StateAsASnapshot/>
      <hr>
      <QueueStateUpdates/>
      <hr>
      <UpdatingObjectsInState/>
      <hr>
      <UpdatingArraysInState/>
    </main>
	</body>
</html>
