---
import FirstComponent from "@components/FirstComponent";
import { ImportExport } from "@components/ImportExport";
import MarkupWithJSX from "@components/MarkupWithJSX";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
      <FirstComponent/>
      <hr>
		  <ImportExport/>
      <hr>
      <MarkupWithJSX/>
      <hr>
    </main>
	</body>
</html>
